/* seletore */

/* Zerar as configurações */

h1{
    /* Cor do texto */
    color: brown;
    /* Tipo da fonte */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Tamanho da fonte */
    font-size: 22pt;
    /* Deixar negrito */
    font-weight: bold;
    /* Centralizar Texto */
    text-align: center;

    /* Respiro (Espaço) dos elementos */
  
    padding: 20px ;

}

h2{
    background-color: brown;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    margin: 15px;
   
}

p{
    text-align: justify;
    padding-top: 10px;
}

footer{
    background-color: red;
    margin: 15px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 5px;

}

h2 :hover{
    color: rgb(235, 236, 234);
    background-color: rgb(25, 11, 231);
    
}

